h1 {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
  }
  
  p {
    color: white;
    display: flex;
    align-items: center;
    margin: 5rem;
  }
  
  main {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  
    .content {
      flex: 1;
  
      h3 {
        margin-bottom: 4rem;
        margin-left: 5rem;
        font-size: 2rem;
      }
  
      .text-frust {
        margin: 0;
        padding: 1rem;
        margin-left: 4rem;
        margin-bottom: 2rem;
        margin-right: 4rem;
      }
    }
  
    .frustrado {
      width: 650px;
      height: auto;
      padding-left: 100px; // Cambié padding-right a padding-left para mover la imagen a la derecha
      border-radius: 30px;
      padding-top: 1rem;
      margin: 0; // Eliminé auto para que la imagen se ajuste a la derecha
      display: block;
    }
  }
  
  .entre {
    color: white;
    padding: 20px;
  
    p {
      padding: 1rem;
      margin-left: 4rem;
      margin-bottom: 2rem;
      margin-right: 4rem;
    }
  }
  
  h3 {
    margin-bottom: 4rem;
    margin-left: 5rem;
    font-size: 2rem;
  }
  