*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import "body";
@import "nav";
@import "index";
@import "contacto";
@import "productos";
@import "referencias";
@import "footer";

@import "mediasquerys";
